body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0; /* Changed to a grey background */
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18); /* Light white border */
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* This creates the glass-morphism effect */
    border-radius: 10px; /* Added rounded corners */
}

.login-form h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5); /* Slightly transparent background */
    backdrop-filter: blur(2px); /* Soften the input field backgrounds */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
